@import-normalize;
* {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}
html {
    line-height: normal;
}
#root {
    background-color: rgb(182, 182, 182);
}
body {
    margin: 0;
    padding: 0;
}
button:hover {
    border-color: rgba(255,255,255,1);
}
.green {
    background-color: rgb(30, 255, 0);
}
.red {
    background-color: rgb(255, 0, 0);
}