@import-normalize;
html {
    line-height: normal;
}
#root {
    background-color: rgb(182, 182, 182);
}
body {
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    background-color: rgb(182, 182, 182);
    height: 1000px;
    margin-top: 10px;
}
.forms {
    width: 50%;
    height: 800px;
}
.preview {
    width: 50%;
    background-color: white;
    border: 1px solid black;
    height: 900px;
    width: 630px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button {
    width: 450px;
    height: 50px;
    border: none;
    font-size: 20px;
    background-color: rgb(30, 255, 0);
}