@import-normalize;
html {
    line-height: normal;
}
body {
    margin: 0;
    padding: 0;
}
.content {
    display: flex;
    background-color: silver;
    height: 1000px;
}
.forms {
    width: 50%;
}
.preview {
    width: 50%;
    background-color: white;
    border: 1px solid black;
    height: 900px;
    width: 630px;
}