.general-box label {
    display: inline-block;
    width: 200px;
    margin: 0;
    padding: 0;
    font-size: 20px;
}
.general-box input  {
    width: 400px;
    padding: 0 10px;
    border: none;
    margin-bottom: 5px;
    font-size: 20px;
    border-radius: 2em;
}
.general-box {
    margin-bottom: 10px;
    margin-top: 100px;
}